
.beit_hidden, .beit_search_hidden {
	display: none;
}

.beit_search_result, .beit_hidden.beit_search_result {
	display: block;
}

.comment_wrap
{
	width: auto;
}

.tl_listing.tl_tree li, .tl_listing tr {
	position: relative;
}

.tl_listing .tl_right {
	position: absolute;
	right: 6px;
	top: 3px;	
}

.tl_header,
.tl_listing li, 
.tree_view .tl_listing th, 
.tl_listing td, 
.tl_content_header, 
.tl_content {
	cursor: pointer;
}

.tl_listing li, 
.tl_listing th,
.tl_content_header, 
.tl_content {
	padding: 6px;
	position: relative;
}

.tl_listing li > .tl_right a, 
.tl_listing li > .tl_right > span,
.tl_listing td.tl_right_nowrap a, 
.tl_content_header a,
.tl_content_right a,
.tl_content a,
.tl_listing li > .tl_right i.icon-disabled {
	opacity: 0.2;
	background: #fff;
	border: 1px solid #E9E9E9;
	padding: 2px;
	border-radius: 3px;    
    display: inline-block;
    height: 16px;    
    min-width: 16px;
    text-align: center;
}

.tl_listing li:hover > .tl_right > a,
.tl_listing li:hover > .tl_right > span,
.tl_listing tr:hover td.tl_right_nowrap a, 
.tl_content_header:hover .tl_content_right a, 
.tl_header:hover a,
.tl_content:hover .tl_content_right a,

.tl_listing li > .tl_right > a.beit_hover.beit_ContextMenuToggler,
.tl_listing tr td.tl_right_nowrap a.beit_hover.beit_ContextMenuToggler, 
.tl_content_header .tl_content_right a.beit_hover.beit_ContextMenuToggler, 
.tl_header a.beit_hover.beit_ContextMenuToggler,
.tl_content .tl_content_right a.beit_hover.beit_ContextMenuToggler {
	opacity: 1;
	background: #fff;
	border: 1px solid #E9E9E9;
	padding: 2px;
	border-radius: 3px;
}

.tl_listing li > .tl_right > a.beit_empty {
	border: 0;
	padding: 3px;
	background: transparent;
}

.tl_listing li:hover > .tl_right > a.beit_empty:hover {
	border: 0;
	padding: 3px;
	background: transparent;
}

.tl_listing li:hover > .tl_right > img, 
.tl_listing li > .tl_right > img {
	padding-bottom: 1px;
	padding-top: 2px;
}

.tl_listing li:hover > .tl_right > a:hover, 
.tl_listing tr:hover td.tl_right_nowrap a:hover, 
.tl_content_header:hover .tl_content_right a:hover, 
.tl_content:hover .tl_content_right a:hover {
	border: 1px solid #b0b0b0;
}

.tl_folder:hover {
	background: #F0F0F0;
}

#tl_navigation a {
	padding: 1px 6px !important;
	display: block;
}

#tl_navigation li[class^=easytheme] a {
	padding: 0 !important;
}

#tl_navigation li a.navigation {
	padding-left: 20px !important;
}

#tl_navigation li[class^=easytheme] a.navigation {
	padding-left: 0 !important;
}

#tl_navigation a:hover, #tl_navigation .tl_level_2 > li a:hover {
	background-color: #f0f0f0;
}

#tl_navigation .tl_level_1_group, #tl_navigation .tl_level_2 {
	padding: 0 !important;
}

#tl_navigation .tl_level_2 {
	padding-bottom: 9px !important;
}

#tl_navigation .tl_level_2 > li {
	clear: both;
}

#tl_navigation .tl_level_2 > li a {
	padding-left: 44px!important;
	background-position: 24px center; 	
}

/* font icon supprt */
.icon-disabled {
	padding: 6px 3px 3px 3px;
	width: 17px!important;
	height: 14px;
}

.beit_hover {
	background-color: #ebfdd7;
}

/**
 * 	
 */
/* Context menu */
#beit_contextMenu {
	display:block;
	position:absolute;
	z-index:99999999;
	background:#fff;
	border:1px solid #ccc;
	padding:3px 6px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	margin-right:12px;
}
.webkit #beit_contextMenu {
	padding:4px 6px 2px;
}
#beit_contextMenu a {
	display:block;
	padding:3px 0 2px 0;
	white-space:nowrap;
}
#beit_contextMenu img {
	vertical-align:top;
}
#beit_contextMenu img[width="12"] {
	padding-left:1px;
	padding-right:1px;
}

#beit_contextMenu span
{
	margin-left: 22px;
}

#beit_contextMenu a img
{
	position: absolute;
}

#beit_contextMenu li
{
	list-style: none;
	padding: 2px;
}

#beit_contextMenu li:hover
{
	background-color: #f0f0f0;
}

.beit_search_widget {
	position: absolute;
	right: 0;
	top: -3px;
}

.beit_search 
{
	display: block;
	position: absolute;
	right: 0;
	width: 200px;
	margin: 0;
	height: 16px;
}

.beit_search_widget {
	position: relative;
}

.beit_reset {
	position: absolute;
	right: 6px;
	top: 6px;
	opacity: 0.6;	
}

.beit_reset:hover {
	opacity: 1;
}

#tl_navigation .tl_level_3 { padding-left: 44px !important; }
#tl_navigation .tl_level_3 > li { clear:both; }
#tl_navigation .tl_level_3 > li > a { float: left; padding: 0 !important; }